<%- include('partials/header'); -%> <%- include('partials/navbar'); -%>
<header class="home-container">
  <div class="home-img">
    <img src="images/smoothie.png" />
  </div>
  <div class="home-heading">
    <h3>smoothies Recipes</h3>
    <a class="btn" href="/smoothies">view more</a>
  </div>
</header>
<%- include('partials/footer'); -%>
