<%- include("partials/header"); -%> <%- include('partials/navbar'); -%>
<div class="container">
  <form id="form">
    <h2>sign up</h2>
    <div class="form-container">
      <div class="form-control">
        <i class="fa-solid fa-envelope icon"></i>
        <input
          type="text"
          placeholder="Email ID"
          id="email"
          autocomplete="off"
        />
        <small id="error-email"></small>
      </div>
      <div class="form-control">
        <i class="fa-solid fa-lock icon"></i>
        <input
          type="password"
          placeholder="Password"
          id="password"
          autocomplete="off"
        />
      </div>
      <div class="form-control">
        <i class="fa-solid fa-lock icon"></i>
        <input
          type="password"
          placeholder="Confirm Password"
          id="confirmPassword"
          autocomplete="off"
        />
        <small id="error-password"></small>
      </div>
      <div>
        <button type="submit">sign up</button>
      </div>
    </div>
  </form>
  <div class="image">
    <img src="images/signup.svg" />
  </div>
</div>
<script>
  const form = document.querySelector("#form");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const email = form.email.value;
    const password = form.password.value;
    const confirmPassword = form.confirmPassword.value;

    const errMsgEmail = document.querySelector("#error-email");
    const errMsgPass = document.querySelector("#error-password");

    errMsgEmail.textContent = " ";
    errMsgPass.textContent = " ";

    try {
      if (password === confirmPassword) {
        let responce = await fetch("/signup", {
          method: "POST",
          body: JSON.stringify({ email, password }),
          headers: { "Content-Type": "application/json" },
        });
        responce = await responce.json();

        if (responce.errors) {
          errMsgEmail.textContent = responce.errors.email;
          errMsgPass.textContent = responce.errors.password;
        }
        if (responce.id) {
          location.assign("/smoothies");
        }
      } else {
        errMsgPass.textContent = `Both password does not match`;
      }
    } catch (error) {}
  });
</script>
<%- include("partials/footer"); -%>
