<%- include('partials/header'); -%>
<div class="nav-bar">
  <div></div>
  <div class="nav-links">
    <a href="/logout"> Log out</a>
  </div>
</div>
<h1>Smoothies</h1>
<div class="item-container">
  <div class="item">
    <img src="images/smoothie.png" />
    <h2>Strawberry Banana Smoothie</h2>
    <p>
      This is a classic combo that never fails and can be enjoyed all year
      round!
    </p>
  </div>
  <div class="item">
    <img src="images/smoothie.png" />
    <h2>Mango Smoothie</h2>
    <p>
      Mangos are blended with bananas and milk for a sweet and creamy summertime
      recipe.
    </p>
  </div>
  <div class="item">
    <img src="images/smoothie.png" />
    <h2>Almond Orange Smoothie</h2>
    <p>
      Oranges, bananas, almond butter, and vanilla beans make for a simple
      smoothie that’s packed with flavor and nutrients. Bonus, it tastes like an
      Orange Julius!
    </p>
  </div>
  <div class="item">
    <img src="images/smoothie.png" />
    <h2>Peach Breakfast Smoothie</h2>
    <p>
      Enjoy the best of peach season with a breakfast smoothie full of creamy
      yogurt, chia seeds, and a few easy spices.
    </p>
  </div>
  <div class="item">
    <img src="images/smoothie.png" />
    <h2>Strawberry Banana Smoothie</h2>
    <p>
      This is a classic combo that never fails and can be enjoyed all year
      round!
    </p>
  </div>
  <div class="item">
    <img src="images/smoothie.png" />
    <h2>Mango Smoothie</h2>
    <p>
      Mangos are blended with bananas and milk for a sweet and creamy summertime
      recipe.
    </p>
  </div>
  <div class="item">
    <img src="images/smoothie.png" />
    <h2>Almond Orange Smoothie</h2>
    <p>
      Oranges, bananas, almond butter, and vanilla beans make for a simple
      smoothie that’s packed with flavor and nutrients. Bonus, it tastes like an
      Orange Julius!
    </p>
  </div>
  <div class="item">
    <img src="images/smoothie.png" />
    <h2>Peach Breakfast Smoothie</h2>
    <p>
      Enjoy the best of peach season with a breakfast smoothie full of creamy
      yogurt, chia seeds, and a few easy spices.
    </p>
  </div>
</div>

<%- include('partials/footer'); -%>
